In [1]:
import numpy as np
import pandas as pd
import json
import os

In [2]:
def read_json_files(directory):
    files = os.listdir(directory)
    json_files = [file for file in files if file.endswith('.json')]

    dfs = []
    for file in json_files:
        file_path = os.path.join(directory, file)
        json_data = pd.read_json(file_path)
        dfs.append(json_data)

    dataframe = pd.concat(dfs, ignore_index=True)
    return dataframe

df = read_json_files('.')

df

,image,objects
0,"{'fileName': '20220622_SD04_7973.JPG', 'detail...","[{'bndbox': {'minX': 0.904863, 'minY': 0.90394..."
1,"{'fileName': '20220622_SD04_7892.JPG', 'detail...","[{'bndbox': {'minX': 0.560254, 'minY': 0.41549..."
2,"{'fileName': '20220622_SD04_7779.JPG', 'detail...","[{'bndbox': {'minX': 0.48625799999999997, 'min..."
3,"{'fileName': '20220622_SD04_7965.JPG', 'detail...","[{'bndbox': {'minX': 0.293869, 'minY': 0.54554..."
4,"{'fileName': '20220622_SD04_7904.JPG', 'detail...","[{'bndbox': {'minX': 0.47357299999999997, 'min..."
...,...,...
6746,"{'fileName': '20220627_SD04_8847.JPG', 'detail...","[{'bndbox': {'minX': 0.21301799999999999, 'min..."
6747,"{'fileName': '20220627_SD04_8804.JPG', 'detail...","[{'bndbox': {'minX': 0.5897439999999999, 'minY..."
6748,"{'fileName': '20220627_SD04_8595.JPG', 'detail...","[{'bndbox': {'minX': 0.545652, 'minY': 0.20220..."
6749,"{'fileName': '20220627_SD04_8768.JPG', 'detail...","[{'bndbox': {'minX': 0.268245, 'minY': 0.04438..."
6750,"{'fileName': '20220627_SD04_8725.JPG', 'detail...","[{'bndbox': {'minX': 0.495069, 'minY': 0.27606..."

In [3]:
image = df['image'].to_dict()
file_n = []
for i in range(0, len(image)):
    file_n.append(image[i]['fileName'])
    
file_orientation =[]
for i in range(0, len(image)):
    if image[i]['details']['width'] < image[i]['details']['height']:
        orientation_s = 'portait'
        file_orientation.append(orientation_s)
    else: 
        orientation_s = 'landscape'
        file_orientation.append(orientation_s)

jpg_df = pd.DataFrame({'file_name': file_n, 'orientation': file_orientation})
jpg_df = jpg_df.sort_values('file_name')
ind = jpg_df.index
jpg_df = jpg_df.reset_index(drop=True)
jpg_df = jpg_df.reset_index().rename(columns={'index': 'jpg_id'})
jpg_df

      jpg_id               file_name orientation
0          0  20220308_SD02_2923.JPG     portait
1          1  20220308_SD02_2924.JPG     portait
2          2  20220308_SD02_2946.JPG     portait
3          3  20220308_SD02_2954.JPG   landscape
4          4  20220308_SD02_2955.JPG   landscape
...      ...                     ...         ...
6746    6746  20220825_SD05_6957.JPG     portait
6747    6747  20220825_SD05_6958.JPG     portait
6748    6748  20220825_SD05_6960.JPG     portait
6749    6749  20220825_SD05_6963.JPG     portait
6750    6750  20220825_SD05_6967.JPG     portait

[6751 rows x 3 columns]

In [4]:
ind

Int64Index([5801, 5800, 2462, 2463, 2450, 2456, 2479, 2471, 2473, 2476,
            ...
             109,  116,  128,  112,  120,  104,  108,  117,  127,  114],
           dtype='int64', length=6751)

In [5]:
obj = df['objects'].to_dict()
obj
obj[0][0]['bndbox']
obj[0][0]['category']['name']

'Toy-Grenade'

In [6]:
coord_list = []
bndbox_name_list = []
for i in range(len(obj)):
    coord = []
    bndbox_name = []
    for j in range(len(obj[i])):
        category_name = obj[i][j]['category']['name']
        bndbox_dict = obj[i][j]['bndbox']
        bndbox_tuple = (bndbox_dict['minX'], bndbox_dict['minY'], bndbox_dict['maxX'], bndbox_dict['maxY'])
        
        coord.append(bndbox_tuple)
        bndbox_name.append(category_name)
    coord_list.append(coord)
    bndbox_name_list.append(bndbox_name)

bndbox_df = pd.DataFrame({'bndbox_name': bndbox_name_list, 'coordinates': coord_list})
bndbox_df = bndbox_df.reindex(ind)
bndbox_df = bndbox_df.reset_index(drop=True)
bndbox_df = bndbox_df.reset_index().rename(columns={'index': 'jpg_id'})
bndbox_df.head()

,jpg_id,bndbox_name,coordinates
0,0,"[DF2I_Face, DF2I_Body]","[(0.36186799999999997, 0.0028209999999999997, ..."
1,1,"[DF2I_Face, DF2I_Body]","[(0.34282199999999996, 0.0, 0.8845649999999999..."
2,2,"[151J_Face, 151J_Body, 110E_Face, 110E_Body, 7...","[(0.152365, 0.35543, 0.5100009999999999, 0.558..."
3,3,"[151J_Face, 151J_Body, 110E_Face, 110E_Body, 7...","[(0.42407799999999995, 0.587402, 0.61605199999..."
4,4,"[151J_Face, 151J_Body, 110E_Face, 110E_Body, 7...","[(0.47397000000000006, 0.564622, 0.681128, 0.8..."

In [7]:
bndbox_df['coordinates'][0]

[(0.36186799999999997, 0.0028209999999999997, 0.916308, 0.38222799999999996),
 (0.0, 0.0, 0.954399, 1.0)]

In [8]:
coord_df = pd.concat([jpg_df['file_name'], bndbox_df], axis = 1)
coord_df.head(3)
coord_df = coord_df.explode(['bndbox_name', 'coordinates'])
coord_df = coord_df.sort_values('file_name')
coord_df.head(15)

,file_name,jpg_id,bndbox_name,coordinates
0,20220308_SD02_2923.JPG,0,DF2I_Face,"(0.36186799999999997, 0.0028209999999999997, 0..."
0,20220308_SD02_2923.JPG,0,DF2I_Body,"(0.0, 0.0, 0.954399, 1.0)"
1,20220308_SD02_2924.JPG,1,DF2I_Face,"(0.34282199999999996, 0.0, 0.8845649999999999,..."
1,20220308_SD02_2924.JPG,1,DF2I_Body,"(0.0, 0.0028209999999999997, 0.975560999999999..."
2,20220308_SD02_2946.JPG,2,7124_Body,"(0.002116, 0.0, 0.387262, 0.7334269999999999)"
2,20220308_SD02_2946.JPG,2,110E_Body,"(0.101577, 0.09591000000000001, 0.971329, 1.0)"
2,20220308_SD02_2946.JPG,2,7124_Face,"(0.0, 0.0, 0.378797, 0.31029599999999996)"
2,20220308_SD02_2946.JPG,2,151J_Body,"(0.126971, 0.35543, 0.8591709999999999, 0.943583)"
2,20220308_SD02_2946.JPG,2,151J_Face,"(0.152365, 0.35543, 0.5100009999999999, 0.558533)"
2,20220308_SD02_2946.JPG,2,110E_Face,"(0.118506, 0.094499, 0.5100009999999999, 0.389..."
3,20220308_SD02_2954.JPG,3,151J_Face,"(0.42407799999999995, 0.587402, 0.616051999999..."
3,20220308_SD02_2954.JPG,3,151J_Body,"(0.41214799999999996, 0.584148, 0.854664, 1.0)"
3,20220308_SD02_2954.JPG,3,110E_Face,"(0.408894, 0.20014, 0.652928, 0.6150639999999999)"
3,20220308_SD02_2954.JPG,3,110E_Body,"(0.40347099999999997, 0.195258, 0.936009, 1.0)"
3,20220308_SD02_2954.JPG,3,7124_Face,"(0.130152, 0.016272, 0.394794, 0.5239429999999..."

In [9]:
toy_coord = coord_df[coord_df['bndbox_name'].str.contains('toy', case=False)]
monkey_coord = coord_df[~coord_df['bndbox_name'].str.contains('toy', case=False)]

# Toy Coord

In [10]:
pattern = r'Toy-|Toy_|toy_|toy-'
toy_coord = toy_coord[~toy_coord['bndbox_name'].str.contains('triangle|swing', case=False)]
toy_coord['bndbox_name'] = toy_coord['bndbox_name'].str.replace(pattern, '')
toy_coord['bndbox_name'] = toy_coord['bndbox_name'].str.replace('Blue Frisbees', 'Blue Frisbee')
toy_coord['bndbox_name'] = toy_coord['bndbox_name'].str.replace('Lucky Clover chew', 'Lucky Clover Chew')

toy_coord.bndbox_name.unique()

/var/folders/7y/b5rc1dg90wjbpqjnn9qnxvf40000gn/T/ipykernel_52907/4288504467.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  toy_coord['bndbox_name'] = toy_coord['bndbox_name'].str.replace(pattern, '')

array(['Unknown', 'Dental Star', 'Dumbbell', 'Grenade', 'Kong',
       'Lucky Clover Chew', 'Megalast Ball', 'Ziggs', 'Blue Frisbee',
       'Dental Kong', 'Zyro', 'Hex', 'S-shaped Toy', 'Challenger Ball'],
      dtype=object)

In [11]:
toy_coord = toy_coord.reset_index(drop=True)
toy_coord = toy_coord.reset_index().rename(columns={'index': 'toy_id'})
toy_coord = toy_coord.rename(columns={'bndbox_name': 'toy'})
toy_coord

,toy_id,file_name,jpg_id,toy,coordinates
0,0,20220308_SD02_3022.JPG,34,Unknown,"(0.0, 0.895628, 0.16083, 1.0)"
1,1,20220308_SD02_3029.JPG,38,Unknown,"(0.7477809999999999, 0.818182, 1.0, 0.97861000..."
2,2,20220317_SD02_3125.JPG,60,Dental Star,"(0.6565219999999999, 0.727354, 0.947826, 0.825..."
3,3,20220317_SD02_3165.JPG,80,Dumbbell,"(0.321212, 0.748602, 1.0, 1.0)"
4,4,20220331_SD02_3342.JPG,163,Grenade,"(0.40405599999999997, 0.365112, 0.528861, 0.61..."
...,...,...,...,...,...
1002,1002,20220810_SD05_6742.JPG,6653,Challenger Ball,"(0.5826089999999999, 0.0, 1.0, 0.3202100000000..."
1003,1003,20220810_SD05_6743.JPG,6654,Challenger Ball,"(0.6869569999999999, 0.001449, 1.0, 0.22458199..."
1004,1004,20220825_SD05_6824.JPG,6695,Kong,"(0.8576849999999999, 0.8910309999999999, 0.944..."
1005,1005,20220825_SD05_6825.JPG,6696,Kong,"(0.8842500000000001, 0.928039, 0.963947, 1.0)"
1006,1006,20220825_SD05_6826.JPG,6697,Kong,"(0.899431, 0.939426, 0.9658439999999999, 1.0)"

# Monkey Coord

In [12]:
monkey_coord = monkey_coord[~monkey_coord['bndbox_name'].str.contains('triangle|swing', case=False)]
# Define the dictionary of replacements
replacements = {'Unknown 1': 'Unknown1', 'Unknown 2': 'Unknown2', 'DF21' : 'DF2I', 'OEX': '0EX', '0F1': '0FL'}
# Replace the patterns in the 'bndbox_name' column using the dictionary of replacements
monkey_coord['bndbox_name'] = monkey_coord['bndbox_name'].replace(replacements, regex=True)

In [13]:
monkey_coord.bndbox_name.unique()

array(['DF2I_Face', 'DF2I_Body', '7124_Body', '110E_Body', '7124_Face',
       '151J_Body', '151J_Face', '110E_Face', '67G_Face', '67G_Body',
       '94B_Body', '94B_Face', '72X_Face', '72X_Body', '143H_Body',
       '143H_Face', '69X_Face', '69X_Body', '87J_Body', '87J_Face',
       '14F_Face', '14F_Body', '19J_Face', '19J_Body', '101G_Face',
       'G701_Face', 'G701_Body', '68F_Body', '68F_Face', 'Unknown Body',
       '151J Body', '151J Face', '110E Body', '110E Face', '7124 Face',
       '7124 Body', '49Y Face', '49Y Body', 'Unknown Face', '79G Face',
       '79G Body', '68E Face', '68E Body', '167I Face', '167I Body',
       '86I Face', '86I Body', '59E Face', '59E Body', '134J Body',
       '134J  Face', '35Y Body', '35Y Face', 'G942 Face', 'G942 Body',
       '144H Body', '144H Face', '58I Face', '58I Body', '46J Body',
       '46J Face', '26J Body', '26J Face', 'DF2I Face', 'DF2I Body',
       '48Z Face', '48Z Body', '70G Body', '70G Face', '101G_Body',
       'Unknown1_Body', '114J Face', '114J Body', '42Z Face', '42Z Body',
       '36J Face', '36J Body', '0EX Face', '0EX Body', '0FL Body',
       '0FL Face', '42K Face', '42K Body', '134J Face', '37I Face',
       '37I Body', '68Y Face', '68Y Body', '94B Face', '94B Body',
       '87J Face', '87J Body', '81G Body', '81G Face', '143H Face',
       '143H Body', 'Unknown1 Body', 'Unknown1 Face', '69X Face',
       '69X Body', '72X Body', '72X Face', 'Unknown2 Body', '72X Face ',
       '40J Body', '40J Face', '09X Body', '09X Face', '58K Face',
       '58K Body', '49Y body', '101G Face', '101G Body', '68F Face',
       '68F Body', 'G701 Face', 'G701 Body', '67G Body', '67G Face',
       '14F Body', '14F Face', '19J Face', '19J Body', '59K Face',
       '59K Body', 'Unknown2 Face', '67K Face', '67K Body', '129K Body',
       '129K Face', '87J Body ', '143H body', '151J body', '98K Face',
       '98K Body', '120K Face', '120K Body', '126K Face', '126K Body',
       '139K Face', '139K Body', '122K Body', '122K Face', '126K face',
       'Unknown', '68Y_Face', '68Y_Body', '26J_Face', '26J_Body',
       '36J_Face', '36J_Body', '09X_Body', '170K_Face', '170K_Body',
       '09X_Face', 'Unknown_Body', 'Unknown_Face', '40J_Face', '40J_Body',
       '0EX_Face', '0EX_Body', '67K_Face', '67K_Body', '0FL_Body',
       '0FL_Face', '170K Face', '170K Body', '59E_Face', '59E_Body'],
      dtype=object)

In [14]:
monkey_coord[['monkey_name', 'body_part']] = monkey_coord['bndbox_name'].str.split('_| ', 1, expand=True)
monkey_coord = monkey_coord.drop('bndbox_name',axis=1)

In [15]:
monkey_coord.monkey_name.unique()

array(['DF2I', '7124', '110E', '151J', '67G', '94B', '72X', '143H', '69X',
       '87J', '14F', '19J', '101G', 'G701', '68F', 'Unknown', '49Y',
       '79G', '68E', '167I', '86I', '59E', '134J', '35Y', 'G942', '144H',
       '58I', '46J', '26J', '48Z', '70G', 'Unknown1', '114J', '42Z',
       '36J', '0EX', '0FL', '42K', '37I', '68Y', '81G', 'Unknown2', '40J',
       '09X', '58K', '59K', '67K', '129K', '98K', '120K', '126K', '139K',
       '122K', '170K'], dtype=object)

In [16]:
monkey_coord['body_part'] = monkey_coord['body_part'].str.replace(' ', '')
monkey_coord['body_part'] = monkey_coord['body_part'].str.capitalize()
monkey_coord.body_part.unique()

array(['Face', 'Body', None], dtype=object)

In [17]:
monkey_coord = monkey_coord.drop('file_name',axis=1)
monkey_coord.tail(5)

,jpg_id,coordinates,monkey_name,body_part
6748,6748,"(0.0, 0.173975, 0.8955559999999999, 0.876945)",G942,Body
6749,6749,"(0.581475, 0.164074, 0.846746, 0.424328)",G942,Face
6749,6749,"(0.0021219999999999998, 0.168317, 1.0, 0.929279)",G942,Body
6750,6750,"(0.22919399999999998, 0.011314999999999999, 0....",G942,Face
6750,6750,"(0.0042439999999999995, 0.015559, 0.965588, 1.0)",G942,Body

In [20]:
monkey_coord[monkey_coord.body_part.isnull()]

,jpg_id,coordinates,monkey_name,body_part
3156,3156,"(0.003356, 0.15767899999999999, 0.343960000000...",Unknown,None
3158,3158,"(0.0, 0.0, 0.379195, 0.419358)",Unknown,None
3218,3218,"(0.845638, 0.17368499999999998, 1.0, 0.777806)",Unknown,None
3219,3219,"(0.7885909999999999, 0.171168, 1.0, 0.802978)",Unknown,None
3237,3237,"(0.0, 0.114065, 0.176174, 0.554671)",Unknown,None
3238,3238,"(0.0, 0.150969, 0.234899, 0.616177)",Unknown,None
3239,3239,"(0.0, 0.143141, 0.22483199999999998, 0.596048)",Unknown,None
3240,3240,"(0.001678, 0.323185, 0.157718, 0.754845)",Unknown,None
3247,3247,"(0.0, 0.106237, 0.229866, 0.370154)",Unknown,None
3248,3248,"(0.0, 0.121893, 0.216443, 0.386928)",Unknown,None
3249,3249,"(0.0, 0.008945999999999999, 0.315436, 0.421595)",Unknown,None
3250,3250,"(0.0, 0.11853899999999999, 0.276846, 0.4629709...",Unknown,None
3251,3251,"(0.0, 0.062303, 0.123913, 0.33325000000000005)",Unknown,None
3264,3264,"(0.0, 0.49875699999999995, 0.127517, 0.615059)",Unknown,None
3275,3275,"(0.003356, 0.391401, 0.11073799999999999, 0.97...",Unknown,None
3284,3284,"(0.001678, 0.5792729999999999, 0.097315, 1.0)",Unknown,None
3285,3285,"(0.0033669999999999998, 0.384864, 0.087542, 1.0)",Unknown,None
3286,3286,"(0.0, 0.339982, 0.058922999999999996, 0.973943)",Unknown,None
3306,3306,"(0.350671, 0.178719, 0.706376, 0.4455389999999...",Unknown,None
3306,3306,"(0.7097319999999999, 0.0025169999999999997, 0....",Unknown,None
3309,3309,"(0.073826, 0.0, 0.879195, 0.299543)",Unknown,None
3309,3309,"(0.8557049999999999, 0.0, 1.0, 0.2064079999999...",Unknown,None
3310,3310,"(0.129195, 0.0025169999999999997, 0.917785, 0....",Unknown,None
3310,3310,"(0.9261739999999999, 0.0, 1.0, 0.276889)",Unknown,None
3311,3311,"(0.149329, 0.0, 0.9429529999999999, 0.38009299...",Unknown,None
3311,3311,"(0.934564, 0.0, 1.0, 0.269337)",Unknown,None
3312,3312,"(0.147651, 0.005033999999999999, 0.934564, 0.4...",Unknown,None
3312,3312,"(0.9060400000000001, 0.0, 1.0, 0.314646)",Unknown,None
3313,3313,"(0.921141, 0.0, 1.0, 0.40023000000000003)",Unknown,None
3313,3313,"(0.13758399999999998, 0.0, 0.9312079999999999,...",Unknown,None
3314,3314,"(0.149329, 0.005033999999999999, 0.958054, 0.5...",Unknown,None
3314,3314,"(0.9395969999999999, 0.0, 1.0, 0.392679)",Unknown,None
3332,3332,"(0.003356, 0.355616, 0.23657699999999998, 0.66...",Unknown,None
3354,3354,"(0.0, 0.516397, 0.10588199999999999, 0.871491)",Unknown,None
3355,3355,"(0.0, 0.558964, 0.082353, 0.8322849999999999)",Unknown,None
3356,3356,"(0.0, 0.603771, 0.159664, 0.93086)",Unknown,None
5523,5523,"(0.672258, 0.6117079999999999, 1.0, 1.0)",Unknown,None
5524,5524,"(0.674839, 0.693012, 0.9987100000000001, 1.0)",Unknown,None
5525,5525,"(0.612903, 0.625259, 1.0, 1.0)",Unknown,None
5530,5530,"(0.686452, 0.7762500000000001, 1.0, 1.0)",Unknown,None
5535,5535,"(0.0012900000000000001, 0.501369, 0.2412900000...",Unknown,None
5536,5536,"(0.003871, 0.5555709999999999, 0.2464519999999...",Unknown,None
5537,5537,"(0.849032, 0.48201099999999997, 1.0, 1.0)",Unknown,None
5548,5548,"(0.0, 0.195514, 0.092903, 0.770443)",Unknown,None
5549,5549,"(0.0, 0.116147, 0.141935, 0.811094)",Unknown,None
5550,5550,"(0.0, 0.137441, 0.150968, 0.8381949999999999)",Unknown,None

In [18]:
jpg_df.to_csv('../fromjson_photos.csv', index=False)
monkey_coord.to_csv('../fromjson_mCoord.csv', index=False)
toy_coord.to_csv('../fromjson_toyCoord.csv', index = False)