In [1]:
import os
import json
import pandas as pd

In [22]:
# create empty lists to store rows for table 1, 2, 3
table1_rows = []
table2_rows = []
table3_rows = []
table4_rows = []
        
# Lists for generating table 1    
fileName=[]
folderName=[]
width=[]
height=[]
    
# Loop through all JSON files in current directory
for filename in os.listdir(os.getcwd()):
    if filename.endswith('.json'):
        with open(filename, 'r') as f:
            data = json.load(f)

            # extract folder name, filename, orientation for Table 1
            for photo in data:
                folder_name = photo['image']['details']['folderName']
                file_name = photo['image']['fileName']
                width = photo['image']['details']['width']
                height = photo['image']['details']['height']
                orientation = 'Landscape' if width > height else 'Portrait'    
                table1_rows.append([folder_name, file_name, orientation])
            # iterate through each photo in the data to extract information about the monkeys and toys in each photo
            for photo in data:
                folder_name = photo['image']['details']['folderName']
                file_name = photo['image']['fileName']

                # extract monkey / toy
                for obj in photo['objects']:
                    category_name = obj['category']['name']

                    # calculate the coordinates of the bounding box for the object
                    coordinates = [(int(obj['bndbox']['minX'] * width), int(obj['bndbox']['minY'] * height)),
                                   (int(obj['bndbox']['maxX'] * width), int(obj['bndbox']['minY'] * height)),
                                   (int(obj['bndbox']['maxX'] * width), int(obj['bndbox']['maxY'] * height)),
                                   (int(obj['bndbox']['minX'] * width), int(obj['bndbox']['maxY'] * height))]

                    # if object is monkey, extract monkeyID and Face/Body
                    if 'Face' in category_name or 'Body' in category_name:
                        monkey_id = category_name.split()[0]
                        face_or_body = category_name.split()[1]
                        table2_rows.append([file_name, monkey_id, face_or_body, coordinates])

                    # if the object is a toy, record its name and coordinates in table 3
                    elif 'Toy' in category_name:
                        toy_name = category_name[4:]
                        table3_rows.append([file_name, toy_name, coordinates])
                        
                    else:
                        table4_rows.append(file_name, "Error")
        if not data:
            print("Error in retrieving data in", file_name)

In [23]:
# create dataframes from the rows and columns for table 2 and table 3
table1 = pd.DataFrame.from_records(table1_rows, columns=['Folder Name', 'Image File Name', 'Orientation'])
table2 = pd.DataFrame.from_records(table2_rows, columns=['Image File Name', 'Monkey ID', 'Face/Body', 'Coordinates'])
table3 = pd.DataFrame.from_records(table3_rows, columns=['Image File Name', 'Toy Name', 'Coordinates'])

In [24]:

print(table1)
print(table2)
print(table3)

    Folder Name         Image File Name Orientation
0        0415ST  20220415_SD01_4120.JPG   Landscape
1        0415ST  20220415_SD01_4112.JPG    Portrait
2        0415ST  20220415_SD01_4110.JPG    Portrait
3        0415ST  20220415_SD01_4119.JPG    Portrait
4        0415ST  20220415_SD01_4109.JPG   Landscape
..          ...                     ...         ...
209      0512IG  20220512_SD02_6001.JPG    Portrait
210      0512IG  20220512_SD02_6025.JPG    Portrait
211      0512IG  20220512_SD02_6061.JPG    Portrait
212      0512IG  20220512_SD02_5971.JPG    Portrait
213      0512IG  20220512_SD02_6106.JPG    Portrait

[214 rows x 3 columns]
            Image File Name Monkey ID Face/Body  \
0    20220415_SD01_4120.JPG       58I      Face
1    20220415_SD01_4120.JPG       58I      Body
2    20220415_SD01_4112.JPG       58I      Face
3    20220415_SD01_4112.JPG       58I      Body
4    20220415_SD01_4110.JPG       58I      Body
..                      ...       ...       ...
622  20220512_SD02_5971.JPG       42Z      Body
623  20220512_SD02_5971.JPG      167I      Face
624  20220512_SD02_5971.JPG      167I      Body
625  20220512_SD02_6106.JPG      114J      Face
626  20220512_SD02_6106.JPG      114J      Body

                                           Coordinates
0    [(2830, 439), (4570, 439), (4570, 2391), (2830...
1    [(1740, 342), (4940, 342), (4940, 3648), (1740...
2    [(509, 456), (3134, 456), (3134, 1677), (509, ...
3    [(17, 175), (5472, 175), (5472, 3648), (17, 36...
4    [(886, 19), (5472, 19), (5472, 3648), (886, 36...
..                                                 ...
622  [(936, 1161), (3615, 1161), (3615, 5059), (936...
623  [(363, 1178), (1113, 1178), (1113, 2025), (363...
624  [(56, 1137), (1355, 1137), (1355, 3308), (56, ...
625  [(2195, 1194), (2986, 1194), (2986, 2420), (21...
626  [(944, 1161), (3034, 1161), (3034, 4663), (944...

[627 rows x 4 columns]
           Image File Name           Toy Name  \
0   20220512_SD02_6129.JPG  Lucky Clover Chew
1   20220512_SD02_5978.JPG              Ziggs
2   20220512_SD02_6133.JPG  Lucky Clover Chew
3   20220512_SD02_6130.JPG  Lucky Clover Chew
4   20220512_SD02_6141.JPG  Lucky Clover Chew
5   20220512_SD02_6000.JPG               Kong
6   20220512_SD02_5977.JPG              Ziggs
7   20220512_SD02_6132.JPG  Lucky Clover Chew
8   20220512_SD02_6131.JPG  Lucky Clover Chew
9   20220512_SD02_6142.JPG  Lucky Clover Chew
10  20220512_SD02_6001.JPG               Kong

                                          Coordinates
0   [(290, 2267), (887, 2267), (887, 2767), (290, ...
1   [(1581, 4518), (2292, 4518), (2292, 5438), (15...
2   [(225, 1387), (936, 1387), (936, 1960), (225, ...
3   [(32, 2017), (677, 2017), (677, 2565), (32, 25...
4   [(468, 3792), (1299, 3792), (1299, 4260), (468...
5   [(2025, 2299), (2380, 2299), (2380, 2694), (20...
6   [(1444, 3913), (2154, 3913), (2154, 4808), (14...
7   [(290, 1880), (912, 1880), (912, 2420), (290, ...
8    [(8, 1976), (581, 1976), (581, 2533), (8, 2533)]
9   [(944, 3663), (1702, 3663), (1702, 4115), (944...
10  [(2187, 3388), (2663, 3388), (2663, 4018), (21...