In [1]:
import pandas as pd
import numpy as np
import csv
import json

In [2]:
ZBcsv = pd.read_csv("./ZBcsvAfterBB/ZB_newcol_updated.csv")
ZBcsv.columns = ZBcsv.columns.str.lower()
ZBcsv = ZBcsv.rename(columns={'mkids': 'monkey_ids'})
ZBcsv = ZBcsv.sort_values(by=['file_name'])
ZBcsv = ZBcsv.reset_index(drop=True)
ZBcsv.reset_index(inplace=True)
ZBcsv.tail(10)

,index,file_name,date_annotated,mkgroup,total_num_mk,idable_num_mk,monkey_ids,toys,unknown1_guess,unknown2_guess,comments
1596,1596,20220804_SD05_5924.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1597,1597,20220804_SD05_5926.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1598,1598,20220804_SD05_5927.JPG,2022-08-04,Zombies,1,1,[110E],NaN,NaN,NaN,NaN
1599,1599,20220804_SD05_5928.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1600,1600,20220804_SD05_5933.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1601,1601,20220804_SD05_5934.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1602,1602,20220804_SD05_5935.JPG,2022-08-04,Zombies,1,1,"[143H, Unknown1]",NaN,NN,NaN,NaN
1603,1603,20220804_SD05_5937.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1604,1604,20220804_SD05_5938.JPG,2022-08-04,Zombies,1,1,[69X],NaN,NaN,NaN,NaN
1605,1605,20220804_SD05_5939.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN

In [3]:
ZBcsv['jpg_id'] = ZBcsv['index'].apply(lambda x: '2137' + str(x))
ZBcsv = ZBcsv.drop('index', axis=1)
ZBcsv['jpg_id'] = ZBcsv['jpg_id'].astype(int)

jpg_id_column = ZBcsv.pop('jpg_id')  # Remove the 'jpeg_id' column
ZBcsv.insert(0, 'jpg_id', jpg_id_column)  # Insert the 'jpeg_id' column at the beginning

ZBcsv.tail(10)

,jpg_id,file_name,date_annotated,mkgroup,total_num_mk,idable_num_mk,monkey_ids,toys,unknown1_guess,unknown2_guess,comments
1596,21371596,20220804_SD05_5924.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1597,21371597,20220804_SD05_5926.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1598,21371598,20220804_SD05_5927.JPG,2022-08-04,Zombies,1,1,[110E],NaN,NaN,NaN,NaN
1599,21371599,20220804_SD05_5928.JPG,2022-08-04,Zombies,1,1,[69X],Toy-Ziggs,NaN,NaN,NaN
1600,21371600,20220804_SD05_5933.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1601,21371601,20220804_SD05_5934.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1602,21371602,20220804_SD05_5935.JPG,2022-08-04,Zombies,1,1,"[143H, Unknown1]",NaN,NN,NaN,NaN
1603,21371603,20220804_SD05_5937.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN
1604,21371604,20220804_SD05_5938.JPG,2022-08-04,Zombies,1,1,[69X],NaN,NaN,NaN,NaN
1605,21371605,20220804_SD05_5939.JPG,2022-08-04,Zombies,1,1,[143H],NaN,NaN,NaN,NaN

In [4]:
# Make a new column for cage structure
ZBcsv["cage_structure"] = ZBcsv['toys'].str.extract("(triangle|Swing)")
print(ZBcsv.iloc[330:340,:])

      jpg_id               file_name date_annotated  mkgroup  total_num_mk  \
330  2137330  20220607_SD04_6320.JPG     2022-06-27  Zombies             1
331  2137331  20220607_SD04_6321.JPG     2022-06-27  Zombies             1
332  2137332  20220607_SD04_6322.JPG     2022-06-27  Zombies             1
333  2137333  20220607_SD04_6325.JPG     2022-06-27  Zombies             1
334  2137334  20220607_SD04_6326.JPG     2022-06-27  Zombies             1
335  2137335  20220607_SD04_6327.JPG     2022-06-27  Zombies             1
336  2137336  20220607_SD04_6328.JPG     2022-06-27  Zombies             1
337  2137337  20220607_SD04_6329.JPG     2022-06-27  Zombies             1
338  2137338  20220607_SD04_6330.JPG     2022-06-27  Zombies             2
339  2137339  20220607_SD04_6335.JPG     2022-06-27  Zombies             3

     idable_num_mk        monkey_ids       toys unknown1_guess unknown2_guess  \
330              1             [67G]        NaN            NaN            NaN
331              1             [67G]        NaN            NaN            NaN
332              1             [67G]        NaN            NaN            NaN
333              1             [67G]        NaN            NaN            NaN
334              1             [67G]        NaN            NaN            NaN
335              1             [67G]        NaN            NaN            NaN
336              1             [67G]        NaN            NaN            NaN
337              1             [67G]  Toy-Swing            NaN            NaN
338              2       [7124, 67G]  Toy-Swing            NaN            NaN
339              3  [7124, 94B, 98K]        NaN            NaN            NaN

    comments cage_structure
330      NaN            NaN
331      NaN            NaN
332      NaN            NaN
333      NaN            NaN
334      NaN            NaN
335      NaN            NaN
336      NaN            NaN
337      NaN          Swing
338      NaN          Swing
339      NaN            NaN

In [5]:
# Extract Toys column and clean up
toys = ZBcsv['toys']
toys = toys.str.replace('Toy-', '')
toys = toys.replace('triangle', np.nan)
toys = toys.replace('Swing', np.nan)
ZBcsv['toys'] = toys

In [6]:
# Create Toys table
toys_no_nan = ZBcsv[~ZBcsv['toys'].isna()]
toys_table = toys_no_nan[['jpg_id', 'file_name', 'toys']]
toys_table.head(8)

      jpg_id               file_name                        toys
53    213753  20220415_SD01_4202.JPG  Lucky Clover Chew, Unknown
66    213766  20220421_SD02_4865.JPG                        Kong
67    213767  20220421_SD02_4866.JPG                        Kong
72    213772  20220421_SD02_4880.JPG                        Kong
73    213773  20220421_SD02_4881.JPG                        Kong
81    213781  20220421_SD02_4893.JPG                       Ziggs
92    213792  20220421_SD02_4905.JPG                       Ziggs
122  2137122  20220426_SD02_5333.JPG                       Ziggs

In [7]:
# Create Cage table
cage_no_nan = ZBcsv[~ZBcsv['cage_structure'].isna()]
cage_table = cage_no_nan[['jpg_id','file_name', 'cage_structure']]
cage_table.head(6)

      jpg_id               file_name cage_structure
52    213752  20220415_SD01_4198.JPG       triangle
78    213778  20220421_SD02_4888.JPG          Swing
79    213779  20220421_SD02_4889.JPG          Swing
80    213780  20220421_SD02_4890.JPG          Swing
124  2137124  20220426_SD02_5338.JPG          Swing
172  2137172  20220426_SD02_5414.JPG          Swing

# Update Original Table

Original table should have FILE_NAME, DATE_ANNOTATED, MKGROUP, TOTAL_NUM_MK, IDABLE_NUM_MK, MKIDS. Update TOTAL_NUM_MK, IDABLE_NUM_MK columns based on the MKIDS values.

In [8]:
# Extract and delete brackets in MKIDS 
Mk = ZBcsv.iloc[:,0:7]
Mk['monkey_ids'] = Mk['monkey_ids'].apply(lambda x: x.strip('[]'))
print(Mk)

        jpg_id               file_name date_annotated  mkgroup  total_num_mk  \
0        21370  20220308_SD02_2946.JPG     2022-06-27  Zombies             3
1        21371  20220308_SD02_2954.JPG     2022-06-27  Zombies             3
2        21372  20220308_SD02_2955.JPG     2022-06-27  Zombies             3
3        21373  20220308_SD02_2956.JPG     2022-06-27  Zombies             3
4        21374  20220308_SD02_2958.JPG     2022-06-27  Zombies             1
...        ...                     ...            ...      ...           ...
1601  21371601  20220804_SD05_5934.JPG     2022-08-04  Zombies             1
1602  21371602  20220804_SD05_5935.JPG     2022-08-04  Zombies             1
1603  21371603  20220804_SD05_5937.JPG     2022-08-04  Zombies             1
1604  21371604  20220804_SD05_5938.JPG     2022-08-04  Zombies             1
1605  21371605  20220804_SD05_5939.JPG     2022-08-04  Zombies             1

      idable_num_mk        monkey_ids
0                 3  7124, 110E, 151J
1                 3  7124, 110E, 151J
2                 3  7124, 110E, 151J
3                 3  7124, 110E, 151J
4                 1               67G
...             ...               ...
1601              1              143H
1602              1    143H, Unknown1
1603              1              143H
1604              1               69X
1605              1              143H

[1606 rows x 7 columns]

In [9]:
# Update Total_Num_mk column
Mk['total_num_mk'] = Mk['monkey_ids'].apply(lambda x: len(x.split(',')))
print(Mk)

        jpg_id               file_name date_annotated  mkgroup  total_num_mk  \
0        21370  20220308_SD02_2946.JPG     2022-06-27  Zombies             3
1        21371  20220308_SD02_2954.JPG     2022-06-27  Zombies             3
2        21372  20220308_SD02_2955.JPG     2022-06-27  Zombies             3
3        21373  20220308_SD02_2956.JPG     2022-06-27  Zombies             3
4        21374  20220308_SD02_2958.JPG     2022-06-27  Zombies             1
...        ...                     ...            ...      ...           ...
1601  21371601  20220804_SD05_5934.JPG     2022-08-04  Zombies             1
1602  21371602  20220804_SD05_5935.JPG     2022-08-04  Zombies             2
1603  21371603  20220804_SD05_5937.JPG     2022-08-04  Zombies             1
1604  21371604  20220804_SD05_5938.JPG     2022-08-04  Zombies             1
1605  21371605  20220804_SD05_5939.JPG     2022-08-04  Zombies             1

      idable_num_mk        monkey_ids
0                 3  7124, 110E, 151J
1                 3  7124, 110E, 151J
2                 3  7124, 110E, 151J
3                 3  7124, 110E, 151J
4                 1               67G
...             ...               ...
1601              1              143H
1602              1    143H, Unknown1
1603              1              143H
1604              1               69X
1605              1              143H

[1606 rows x 7 columns]

In [10]:
# Update IDable_Num_Mk column
Mk['UNKNOWN_COUNT'] = Mk['monkey_ids'].str.extractall('(Unknown1|Unknown2)').groupby(level=0).size()
Mk['UNKNOWN_COUNT'] = Mk['UNKNOWN_COUNT'].fillna(0)
Mk['UNKNOWN_COUNT'] = Mk['UNKNOWN_COUNT'].astype('int')
Mk['idable_num_mk'] = Mk['total_num_mk'] - Mk['UNKNOWN_COUNT']
display(Mk.tail(10))

monkey_table = Mk.iloc[:,0:7]
display(monkey_table.head(10))

,jpg_id,file_name,date_annotated,mkgroup,total_num_mk,idable_num_mk,monkey_ids,UNKNOWN_COUNT
1596,21371596,20220804_SD05_5924.JPG,2022-08-04,Zombies,1,1,69X,0
1597,21371597,20220804_SD05_5926.JPG,2022-08-04,Zombies,1,1,69X,0
1598,21371598,20220804_SD05_5927.JPG,2022-08-04,Zombies,1,1,110E,0
1599,21371599,20220804_SD05_5928.JPG,2022-08-04,Zombies,1,1,69X,0
1600,21371600,20220804_SD05_5933.JPG,2022-08-04,Zombies,1,1,143H,0
1601,21371601,20220804_SD05_5934.JPG,2022-08-04,Zombies,1,1,143H,0
1602,21371602,20220804_SD05_5935.JPG,2022-08-04,Zombies,2,1,"143H, Unknown1",1
1603,21371603,20220804_SD05_5937.JPG,2022-08-04,Zombies,1,1,143H,0
1604,21371604,20220804_SD05_5938.JPG,2022-08-04,Zombies,1,1,69X,0
1605,21371605,20220804_SD05_5939.JPG,2022-08-04,Zombies,1,1,143H,0

,jpg_id,file_name,date_annotated,mkgroup,total_num_mk,idable_num_mk,monkey_ids
0,21370,20220308_SD02_2946.JPG,2022-06-27,Zombies,3,3,"7124, 110E, 151J"
1,21371,20220308_SD02_2954.JPG,2022-06-27,Zombies,3,3,"7124, 110E, 151J"
2,21372,20220308_SD02_2955.JPG,2022-06-27,Zombies,3,3,"7124, 110E, 151J"
3,21373,20220308_SD02_2956.JPG,2022-06-27,Zombies,3,3,"7124, 110E, 151J"
4,21374,20220308_SD02_2958.JPG,2022-06-27,Zombies,1,1,67G
5,21375,20220308_SD02_2959.JPG,2022-06-27,Zombies,1,1,67G
6,21376,20220308_SD02_2960.JPG,2022-06-27,Zombies,1,1,67G
7,21377,20220308_SD02_2961.JPG,2022-06-27,Zombies,1,1,67G
8,21378,20220308_SD02_2963.JPG,2022-06-27,Zombies,1,1,67G
9,21379,20220308_SD02_2964.JPG,2022-06-27,Zombies,3,3,"7124, 110E, 151J"

# Create Unknown Table

In [11]:
unknown = ZBcsv.iloc[:,[0,1,6,8,9]].copy()
unknown['monkey_ids'] = unknown['monkey_ids'].str.strip('[]') 
unknown.tail(5)

,jpg_id,file_name,monkey_ids,unknown1_guess,unknown2_guess
1601,21371601,20220804_SD05_5934.JPG,143H,NaN,NaN
1602,21371602,20220804_SD05_5935.JPG,"143H, Unknown1",NN,NaN
1603,21371603,20220804_SD05_5937.JPG,143H,NaN,NaN
1604,21371604,20220804_SD05_5938.JPG,69X,NaN,NaN
1605,21371605,20220804_SD05_5939.JPG,143H,NaN,NaN

In [12]:
unknown['unknown_guess'] = unknown['unknown1_guess'].astype(str) + ', ' + unknown['unknown2_guess'].astype(str)
unknown.tail(5)

,jpg_id,file_name,monkey_ids,unknown1_guess,unknown2_guess,unknown_guess
1601,21371601,20220804_SD05_5934.JPG,143H,NaN,NaN,"nan, nan"
1602,21371602,20220804_SD05_5935.JPG,"143H, Unknown1",NN,NaN,"NN, nan"
1603,21371603,20220804_SD05_5937.JPG,143H,NaN,NaN,"nan, nan"
1604,21371604,20220804_SD05_5938.JPG,69X,NaN,NaN,"nan, nan"
1605,21371605,20220804_SD05_5939.JPG,143H,NaN,NaN,"nan, nan"

In [13]:
all_unknowns_df = unknown.loc[~unknown['unknown_guess'].str.contains('nan, nan')]
all_unknowns_df

,jpg_id,file_name,monkey_ids,unknown1_guess,unknown2_guess,unknown_guess
41,213741,20220406_SD01_3784.JPG,"110E, Unknown1",J,NaN,"J, nan"
42,213742,20220406_SD01_3785.JPG,"110E, Unknown1",J,NaN,"J, nan"
45,213745,20220406_SD01_3791.JPG,Unknown1,J,NaN,"J, nan"
50,213750,20220406_SD01_3813.JPG,"72X, 143H, Unknown1",J,NaN,"J, nan"
53,213753,20220415_SD01_4202.JPG,Unknown1,J,NaN,"J, nan"
...,...,...,...,...,...,...
1545,21371545,20220804_SD05_5803.JPG,"7124, Unknown1",Adult Female,NaN,"Adult Female, nan"
1546,21371546,20220804_SD05_5804.JPG,"7124, Unknown1",Adult Female,NaN,"Adult Female, nan"
1568,21371568,20220804_SD05_5874.JPG,"81G, 59K, Unknown1",NN,NaN,"NN, nan"
1569,21371569,20220804_SD05_5876.JPG,"69X, Unknown1",NN,NaN,"NN, nan"
1602,21371602,20220804_SD05_5935.JPG,"143H, Unknown1",NN,NaN,"NN, nan"

In [14]:
unknown_table = all_unknowns_df[['jpg_id','file_name','unknown_guess']].copy()
unknown_table['unknown_guess']= unknown_table['unknown_guess'].str.strip(', nan')
unknown_table.head(20)

      jpg_id               file_name unknown_guess
41    213741  20220406_SD01_3784.JPG             J
42    213742  20220406_SD01_3785.JPG             J
45    213745  20220406_SD01_3791.JPG             J
50    213750  20220406_SD01_3813.JPG             J
53    213753  20220415_SD01_4202.JPG             J
56    213756  20220415_SD01_4213.JPG  Adult Female
65    213765  20220421_SD02_4861.JPG             J
84    213784  20220421_SD02_4896.JPG             J
85    213785  20220421_SD02_4897.JPG             J
86    213786  20220421_SD02_4898.JPG             J
87    213787  20220421_SD02_4899.JPG             J
88    213788  20220421_SD02_4900.JPG             J
89    213789  20220421_SD02_4901.JPG             J
99    213799  20220421_SD02_5013.JPG            NN
147  2137147  20220426_SD02_5372.JPG            NN
158  2137158  20220426_SD02_5389.JPG            NN
160  2137160  20220426_SD02_5395.JPG            NN
164  2137164  20220426_SD02_5399.JPG            NN
166  2137166  20220426_SD02_5404.JPG             J
167  2137167  20220426_SD02_5405.JPG        J, 72X

In [15]:
toys_table.to_csv('ZB_toys.csv')
cage_table.to_csv('ZB_cage.csv')
unknown_table.to_csv('ZB_unknown.csv')
monkey_table.to_csv('processed_ZBoriginal.csv')