In [1]:
import pandas as pd
import numpy as np
import csv

In [14]:
org_csv = pd.read_csv("./ZBcsvAfterBB/ZBafterBB.csv")
print(org_csv.tail(10))

                   FILE_NAME DATE_ANNOTATED  MKGROUP  TOTAL_NUM_MK  \
1597  20220803_SD04_5273.JPG     2022-08-03  Zombies             1
1598  20220803_SD04_5274.JPG     2022-08-03  Zombies             1
1599  20220803_SD04_5275.JPG     2022-08-03  Zombies             1
1600  20220803_SD04_5276.JPG     2022-08-03  Zombies             2
1601  20220803_SD04_5277.JPG     2022-08-03  Zombies             2
1602  20220803_SD04_5278.JPG     2022-08-03  Zombies             2
1603  20220803_SD04_5279.JPG     2022-08-03  Zombies             2
1604  20220803_SD04_5280.JPG     2022-08-03  Zombies             2
1605  20220803_SD04_5281.JPG     2022-08-03  Zombies             2
1606  20220803_SD04_5282.JPG     2022-08-03  Zombies             2

      IDABLE_NUM_MK       MKIDS Unnamed: 6
1597              1       [94B]        NaN
1598              1       [94B]        NaN
1599              1       [94B]        NaN
1600              2  [94B, 98K]        NaN
1601              2  [94B, 98K]        NaN
1602              2  [94B, 98K]        NaN
1603              2  [94B, 98K]        NaN
1604              2  [94B, 98K]        NaN
1605              2  [94B, 98K]        NaN
1606              2  [94B, 98K]        NaN

In [22]:
# Look at the new column that was added during BoundingBox annotation
last_col = org_csv.iloc[:,-1]
possibilities = last_col.unique()

array([nan, 'Toy-Kong', 'Toy-Ziggs', 'Unknown', '110E Body',
       'Photo tilted', '69X Body', 'Unknown ', 'J Baby',
       'Unknown1- Jbaby, Unknown2 ? Female Adult',
       'do not know which one is which', 'Toy-Unknown',
       'Toy-Ziggs, Unknown 2', 'Toy-Dental Kong, Toy-Ziggs, Toy-Grenade',
       '7124', '110E', '59K', '81G, 59K', '81G', '67G', '59K not seen',
       'incorrect labeling (81G fixed to 67G)',
       '143H, incorrect labeling (81G fixed to 67G)', '69X',
       '129K not shown', 'Could be 59K?',
       'not in file folder (= no bounding box)', 'Unknown1, Unknown2',
       'Toy-Grenade'], dtype=object)

In [29]:
# Make two columns (one for toys and monkeys and another for miscell comments)
for row in last_col:
    if type(row) is str and "Toy" in str(row):

Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Unknown
Toy-Ziggs, Unknown 2
Toy-Ziggs, Unknown 2
Toy-Ziggs
Toy-Ziggs
Toy-Dental Kong, Toy-Ziggs, Toy-Grenade
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Kong
Toy-Ziggs
Toy-Ziggs
Toy-Grenade
Toy-Grenade
Toy-Grenade
Toy-Grenade
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs
Toy-Ziggs

hello